.city-card {
  /* background-color: #f9f9f9; */
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border: 1px solid #ddd;
  border-radius: 2rem;
  padding: 20px;
  width: 200px;
  position: relative;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* border: 2px solid red; */
}

.city-card h2 {
  margin-top: 0;
}

.city-card img {
  width: 50px;
  height: auto;
}

.remove-btn {
  background-color: transparent;
  border: none;
  font-size: 26px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: white;
}

img {
  background-color: #84fab0;
  border-radius: 3rem;
}

@media (max-width: 768px) {
  .city-card {
    margin-bottom: 20px;
  }
}
